<div class="container product-border">
  <h1 class="text-center"><%= t :title_email_statistic %></h1>
  <p>
    <%= t :body_mail_statistic %>
    <%= link_to t(:link_statistic), admin_statistics_url %>
  </p>
</div>
